<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="info.rsdev.eclipse.opencms.module.developer.preferences.OpenCmsModuleDeveloperPreferencePage"
            id="info.rsdev.eclipse.opencms.module.developer.MainPreferencesPage"
            name="%page.name.0"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="info.rsdev.eclipse.opencms.module.developer.actions.AddOpenCmsNatureAction"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="info.rsdev.eclipse.opencms.module.developer.actions.ToggleOpenCmsNatureAction"
               enablesFor="+"
               icon="images/opencms16x16.png"
               id="info.rsdev.eclipse.opencms.module.deployer.actions.AddOpenCmsNatureAction"
               label="%action.label.0"
               />
         <visibility>
            <and>
               <objectState
                     name="nature"
                     value="org.eclipse.jdt.core.javanature"/>
               <not>
                  <objectState
                        name="nature"
                        value="info.rsdev.eclipse.opencms.module.developer.OpenCmsModuleNature"/>
               </not>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="info.rsdev.eclipse.opencms.module.developer.actions.RemoveOpenCmsNature"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="info.rsdev.eclipse.opencms.module.developer.actions.ToggleOpenCmsNatureAction"
               enablesFor="+"
               icon="images/opencms16x16.png"
               id="info.rsdev.eclipse.opencms.module.developer.actions.RemoveOpenCmsNatureAction"
               label="%action.label.1"
               />
         <visibility>
           <objectState
              name="nature"
              value="info.rsdev.eclipse.opencms.module.developer.OpenCmsModuleNature"/>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="info.rsdev.eclipse.opencms.module.developer.actions.OpenCmsActionMenu"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="info.rsdev.eclipse.opencms.module.developer.actions.SubMenu"
               label="%menu.label.0"
               path="additions">
          <groupMarker name="content"/>
          <separator name="additions"/>
          <filter
              name="projectNature"
              value="info.rsdev.eclipse.opencms.module.developer.OpenCmsModuleNature"/>           
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="info.rsdev.eclipse.opencms.module.developer.actions.GetFromServerMenuItem"
            objectClass="org.eclipse.core.resources.IResource">
          <filter
              name="projectNature"
              value="info.rsdev.eclipse.opencms.module.developer.OpenCmsModuleNature"/>           
         <action
               class="info.rsdev.eclipse.opencms.module.developer.actions.GetFromServerAction"
               id="info.rsdev.eclipse.opencms.module.developer.actions.GetFromServerAction"
               label="Get from OpenCms server"
               menubarPath="info.rsdev.eclipse.opencms.module.developer.actions.SubMenu/content"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="info.rsdev.eclipse.opencms.module.developer.actions.UploadAndPublishMenuItem"
            objectClass="org.eclipse.core.resources.IResource">
          <filter
              name="projectNature"
              value="info.rsdev.eclipse.opencms.module.developer.OpenCmsModuleNature"/>           
         <action
               class="info.rsdev.eclipse.opencms.module.developer.actions.UploadAndPublishAction"
               id="info.rsdev.eclipse.opencms.module.developer.actions.UploadAndPublishAction"
               label="Copy to OpenCms server and Publish"
               menubarPath="info.rsdev.eclipse.opencms.module.developer.actions.SubMenu/content"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="info.rsdev.eclipse.opencms.module.developer.actions.CopyToServerMenuItem"
            objectClass="org.eclipse.core.resources.IResource">
          <filter
              name="projectNature"
              value="info.rsdev.eclipse.opencms.module.developer.OpenCmsModuleNature"/>           
         <action
               class="info.rsdev.eclipse.opencms.module.developer.actions.CopyToServerAction"
               id="info.rsdev.eclipse.opencms.module.developer.actions.CopyToServerAction"
               label="Copy to OpenCms server"
               menubarPath="info.rsdev.eclipse.opencms.module.developer.actions.SubMenu/content"/>
      </objectContribution>
   </extension>
   <extension
         id="OpenCmsModuleNature"
         name="OpenCms Module"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="info.rsdev.eclipse.opencms.module.developer.OpenCmsModuleNature"/>
      </runtime>
   </extension>
   <extension
         id="info.rsdev.eclipse.opencms.module.developer.OpenCmsModuleNature"
         name="OpenCmsModuleNature"
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="images/opencms8x8.gif"
            id="info.rsdev.eclipse.opencms.module.developer.OpenCmsModuleNatureIcon"
            natureId="info.rsdev.eclipse.opencms.module.developer.OpenCmsModuleNature"/>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="info.rsdev.eclipse.opencms.module.developer.library.OpenCmsClasspathInitializer"
            id="info.rsdev.eclipse.opencms.module.developer.OpenCmsClasspath"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="info.rsdev.eclipse.opencms.module.developer.wizards.NewModuleWizard"
            hasPages="true"
            icon="images/opencms16x16.png"
            id="info.rsdev.eclipse.opencms.module.developer.newmodulewizard"
            name="OpenCms Module"
            project="true"/>
   </extension>
</plugin>
